{% extends 'layout.html' %}

{% block body %}


<div class="container">
<h1>Password Reset </h1>

{% from "includes/_formhelpers.html" import render_field %}
<h5>Enter your email address and we will send you a link to reset your password.</h5>
<form action="" method="POST">
  {{ form.csrf_token()}}
  <div class="form-group">
    {{render_field(form.email,class_="form-control")}}
  </div>
  

<p>{{ form.submit(class="btn btn-primary") }}</p>
<!-- <p><input type='submit' class="btn btn-primary" value="Submit" /></p> -->
</form>
</div>

{% endblock %}

